# roles/rawx/tasks/main.yml
---
- name: "Include {{ ansible_distribution }} variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Create the 'openio' group
  group:
    name: openio
    gid: "{{ openio_group_openio_gid | default('220')}}"
  tags: install

- name: Create the 'openio' user
  user:
    name: openio
    comment: "openio account"
    uid: "{{ openio_user_openio_uid | default('120')}}"
    group: openio
  tags: install

- name: "Include {{ ansible_distribution }} tasks"
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Test common directories presence
  stat:
    path: "{{ item }}"
  register: _dir
  with_items:
    - "/etc/gridinit.d/{{ openio_rawx_namespace }}"
    - "{{ openio_rawx_volume }}"
    - "/var/lib/oio/sds/{{ openio_rawx_namespace }}/coredump"
    - "/var/log/oio/sds/{{ openio_rawx_namespace }}/rawx-{{ openio_rawx_serviceid }}"
    - "{{ openio_rawx_sysconfig_dir }}/rawx-{{ openio_rawx_serviceid }}"
    - "{{ openio_rawx_pid_directory }}"
    - "/etc/oio/sds/{{ openio_rawx_namespace }}/watch"

- name: Ensure directories exists
  file:
    path: "{{ item.item }}"
    state: directory
    owner: openio
    group: openio
    mode: 0750
    recurse: true
  with_items: "{{ _dir.results }}"
  when: not item.stat.exists
  tags: install

- name: Generate configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: openio
    group: openio
    mode: 0640
  with_items:
    - src: "rawx.conf.j2"
      dest: "{{ openio_rawx_sysconfig_dir }}/\
        rawx-{{ openio_rawx_serviceid }}/rawx-{{ openio_rawx_serviceid }}-httpd.conf"
    - src: "gridinit_rawx.conf.j2"
      dest: "{{ openio_rawx_gridinit_dir }}/{{ openio_rawx_gridinit_file_prefix }}\
        rawx-{{ openio_rawx_serviceid }}.conf"
    - src: "watch-rawx.yml.j2"
      dest: "{{ openio_rawx_sysconfig_dir }}/watch/rawx-{{ openio_rawx_serviceid }}.yml"
  register: _rawx_conf

- name: Ensure pid directory is persistant
  lineinfile:
    dest: /etc/tmpfiles.d/rawx.conf
    create: true
    line: "d {{ openio_rawx_pid_directory }} 755 openio openio -"
    owner: openio
    group: openio
    mode: 0644
  tags: install
  when: openio_rawx_pid_directory.split(' ')[0] | dirname is match("/run/.*")

- name: reload gridinit
  command: gridinit_cmd reload
  changed_when: false

- name: restart rawx
  shell: |
    gridinit_cmd reload
    gridinit_cmd restart  {{ openio_rawx_namespace }}-rawx-{{ openio_rawx_serviceid }}
  when:
    - _rawx_conf.changed
    - not openio_rawx_provision_only
  tags: configure
...
