# {{ ansible_managed }}
[Service.{{ openio_rawx_namespace }}-rawx-{{ item.ansible_facts._rawx.id }}]
command={{ rawx_httpd_bin }} -D FOREGROUND -f {{ item.ansible_facts._rawx.sds_file }}
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_rawx_namespace }},rawx,{{ item.ansible_facts._rawx.id }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
