# {{ ansible_managed }}
---
host: {{ openio_rawx_bind_address }}
port: {{ item.ansible_facts._rawx.port }}
type: rawx
{% if item.ansible_facts._rawx.location | ipaddr %}
location: {{ item.ansible_facts._rawx.location | replace(".", "-") }}
{% else %}
{% if  openio_rawx_location_ending %}
{% if openio_rawx_location_ending == 'device_inode' %}
location: {{ item.ansible_facts._rawx.location }}.{{ item.ansible_facts._rawx.path | device_inode }} 
{% elif openio_rawx_location_ending == 'mount_point' %}
location: {{ item.ansible_facts._rawx.location }}.{{ item.ansible_facts._rawx.path.split('/')[-1] }} 
{% endif %}
{% else %}
location: {{ item.ansible_facts._rawx.location }}
{% endif %}
{% endif %}
checks:
  - {type: http, uri: /info}
stats:
  - {type: volume, path: {{ item.ansible_facts._rawx.data_dir }}
  - {type: rawx, path: /stat}
  - {type: system}
...
